*{
    margin:0;
    padding:0;
  }
  body{
    background-color: #F00E17;
  }
  .fly-in-text{
    font-family: 'Krub', sans-serif;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .fly-in-text li{
    display: inline-block;
    color: White;
    margin-left: 8px;
    opacity: 1;
    transition: all 2.5s ease;
  }
  .fly-in-text li:last-child{
    margin-right: 0;
  }
  .hidden li{
    opacity:0;
  }
  .splash{
      width: 4em;
      height: 2em;
  }
  .splash-i{
    width: 2em;
    height: 2em;
}
  .fly-in-text.hidden li:nth-child(1) { transform: translateX(200px) translateY(-200px); }
  .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
  .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
  .fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
  .fly-in-text.hidden li:nth-child(5) { transform: translateX(-180px) translateY(100px); }
  
  @media only screen and (max-width: 576px){
  }